/*
Theme Name: Theme Perso 1
Theme URI: http://votre-site-web.com/theme-uri
Description: Description de votre thème
Author: Votre nom
Author URI: http://votre-site-web.com/
Version: 1.0
Text Domain: theme-perso-1
*/

/* Vos styles CSS vont ici */

.logo {
    max-width: 35vh; 
    height: auto;
    margin-bottom: 4vh; 
    margin-left: 75vh; 
    margin-top: 2vh;
}

/* Styles pour positionner le logo et les menus */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1ed760;
    color: white; /* Changement de la couleur du texte à blanc */
    font-family: sans-serif; /* Utilisation d'une police sans serif */
    height: 20vh;
}

/* Style pour les liens au survol */
.menu-container a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

