/* ==================================================================== INITIALISATION DE LA TYPO====================================================== */
@font-face {
  font-family: 'font';
  src: url('../media/font.otf') format('opentype');
  font-weight: lighter;
}

body{
    background-color: black;
}

.menu-container {
    display: flex;
    gap: 10vh;
    margin-right: 10vh; 
}

/* Styles pour les liens dans les menus (navbar1 et navbar2) */
.menu-container a {
    color: white; /* Couleur du texte blanc pour les liens */
    text-decoration: none; /* Suppression du soulignement par défaut */
    font-weight: bold; /* Mise en gras du texte */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  }
  
  
  /* ==================================================================== STYLE DU HEADER =============================================================== */

  
  img {
      width: 20vh;
      margin: 2vh;
  }
  
  /* =================================================== STYLE DU MENU ================================================== */
  nav {
      display: flex;
      justify-content: center;
      margin-top: 10vh;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding-right: 20vh;

  }
  
  nav li {
      margin-left: 6vh;
  }
  
  nav a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 2.5vh;
      font-family: 'font';
      display: flex;
      justify-content: center;
  }
  
  nav a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: -5px;
      transition: width 0.3s ease;
  }
  
  nav a:hover::after {
      width: 100%;
  }
  
  
  /* ==================================================================== STYLE DES TITRES ============================================================== */
  h1,h2 {
      font-family: 'font';
      text-align: center;
      color: #ffffff;
  }
  
  h1{
      font-size: 6vh;
  }
  h2{
      font-size: large;
  }
  
  h3 {
      font-family: 'font';
      text-align: center;
      color: #1ed760;
      padding-top: 10vh;
      font-size: x-large;
  }
  
  /* ================================================================== STYLE DES PARAGRAPHES ============================================================ */
  p {
      font-family: 'font';
      text-align: justify;
      padding-left: 7vh;
      padding-right: 7vh;
      color: #ffffff;
      padding-top: 3vh;
      
  }
  
  #para {
      display: flex;
      padding-bottom: 10vh;
  }
    
  #energy {
      display: flex;
      justify-content: center;
      
  }
  
  #major,#month,#playlist {
      display: flex;
      justify-content: center;
  }
  
  /* ================================================================== STYLE DU FOOTER ============================================================ */
  
  footer {
      background-color: #1ed760;
      text-align: center;
      height: 30vh;
  }
  
  .logo {
      display: flex;
      justify-content: center;
      padding-top: 4vh;
      margin-left: 85vh;
  }

  nav{
    padding-left: 22vh;
  }

/* ================================================================== STYLE DU PREMIER GRID ============================================================ */

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  
  .grid-item {
    padding: 20px;
    text-align: center;
  }

  .image{
    width: 100vw;
    width: 80vh;
  }

  .text{
    padding-top: 10vh;
    margin-right: 4vh;
  }

  /* ================================================================== STYLE DES DATAS ============================================================ */

  .data{
    width: 100vw;
    width: 90vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 47vh;
    border-radius: 10vh;

  }

.essai{
    display: flex;
    justify-content: center;
}

h3{
    margin-bottom: 5vh;
}