.logo {
    max-width: 35vh; 
    height: auto;
    margin-bottom: 13vh; 
    margin-left: 75vh; 
    margin-top: 2vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1ed760;
    color: white; 
    font-family: sans-serif; 
    height: 25vh;
}


.menu-container a:hover {
    text-decoration: underline; 
}



